/* Popup container - can be anything you want */
:root{
	--fade: 0.5s;
}
#add-edit{
  color:var(--accent-color);
  font-size:small;
  padding:6px;
  text-align:center;
  width:100%;
  border-top:1px solid var(--missive-light-border-color);
}
#add-edit:hover{
  text-decoration: underline;
}
.form td{
    overflow:visible;
}
.fieldText {
  width:100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fieldText > div{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/* The actual popup */
.fieldText .popup {
  visibility: hidden;
  background-color: var(--missive-background-color);
  color:var(--missive-text-color-a);
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0px;
  margin-left: 0px;
}
.fieldText .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--missive-background-color) transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.fieldText .show {
  visibility:visible;
  -webkit-animation: fadeIn var(--fade);
  animation: fadeIn var(--fade);
}
.contact-saved {
  -webkit-animation: fadeOut var(--fade);
  animation: fadeOut var(--fade);
  color:var(--missive-blue-color);
}
.fieldText .hide {
  -webkit-animation: fadeOut var(--fade);
  animation: fadeOut var(--fade);
}
.active{
  font-style: none;
  color: var(--missive-text-color-a);
}
.inactive{
  font-style: italic;
  color: var(--missive-text-color-c);
}
.hidden{
  display:none;
}
.capitalize{
  text-transform: capitalize;
}
#formEmail input[disabled] {
  color: gray;
  font-style: italic;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
  from{visibility:visible};
  to{visibility:hidden};
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity:0 ;}
  from{visibility:visible};
  to{visibility:hidden};
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
  from{visibility:hidden};
  to{visibility:visible};
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
  from{visibility:hidden};
  to{visibility:visible};
}