:root {
    --border-color: rgba(0,0,0,0);
    --inner-thickness: 8px;
    --outer-thickness: 8px;
      --panel-border-radius:6px;
      --panel-background-color:var(--missive-conversation-list-background-color);
      --panel-border: 1px solid var(--missive-conversation-list-border-color);
  }
  .panel{
    font-size:16px;  
    border:var(--panel-border);
      background-color:var(--panel-background-color);
      border-radius:var(--panel-border-radius);
      padding:4px;
      margin:0px
  }
  form{
      margin:0px;
      padding:0px;
      display:inline;
  }
  .form {
      table-layout: fixed;
          width:100%;
          border: var(--outer-thickness) solid var(--border-color);
  }
  .form th{
      padding-bottom:8px;
      border-bottom: var(--inner-thickness) solid var(--border-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:16px;
  }
  .form td.caption{
      padding-top:8px;
  }
  .form .button{
      padding-top:8px;
  }
  .form td{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:small;
  }
  .form td input{
      width: 100%;
    box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:small;
  }
  .form .middle{
      border-right: var(--inner-thickness) solid var(--border-color);
      border-bottom: var(--inner-thickness) solid var(--border-color);
  }
  .form .left{
    border-right: var(--inner-thickness) solid var(--border-color);
    border-left:none;
  }
  .form .right{
    border-left: var(--inner-thickness) solid var(--border-color);
    border-right:none;
  }
  .form .top{
      border-bottom: var(--inner-thickness) solid var(--border-color);
  }
  .form .bottom{
      border-bottom:none;
  }
  
  
  