.CRM{
    color:black;
}
.CCA{
    background-color:yellow;
}
.textFrame{
    margin:0px;
    border-radius:6px;
    width:100%;
    background-color:white;
    padding:6px
}
.topSection{
    border-radius: 6px 6px 0px 0px;
    padding: 2px 6px 10px 6px; 
}
.bottomSection{
    padding-bottom:12px; 
}
.textTitle{
    background-color:white;
    color:black;
    font-weight:bold;
    margin:0px;
}
.textBody{
    background-color:white;
    color:black;
    word-break: break-word;
}
.testButton{
    width:160px;
    margin-bottom:4px;
    border-radius:6px;
}
.hiddenButton{
    display:none;
}



