.CRM{

}
.CCA{
    background-color:yellow;
}
.textFrame{
    padding:6px;
    margin:auto;
    width:90%;
    color:black;
    background-color:white;
    border-radius:6px;
    box-shadow: 4px 4px 6px black;
}