.CRM{

}
.CCA{
    background-color:yellow;
}
.textFrame{
    padding:0;
    margin-bottom:8px;
    margin-top:0px;
    width:100%;
    color:black;
    background-color:white;
    border-radius:6px;
    box-shadow: 6px 6px 6px black;
}
.textTitle{
    font-weight:bold;
    padding:4px 0px 4px 6px;
    border-radius: 6px 6px 0px 0px;
    background-color:rgba(221, 221, 221);
    color:black;
}
.textBody{
    padding:6px;
}
.testButton{
    width:160px;
}