:root {
    --border-color: rgba(o,o,o,o);
    --inner-thickness: 4px;
    --outer-thickness: 8px;
  }
  .form {
      table-layout: fixed;
          width:100%;
          border: var(--outer-thickness) solid var(--border-color);
  }
  .form th{
      padding-bottom:8px;
      border-bottom: var(--inner-thickness) solid var(--border-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:large;
  }
  .form td.caption{
      padding-top:8px;
  }
  .form td.button{
      padding-top:4px;
  }
  .form td{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:small;
  }
  .form td input{
      width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:small;
  }
  .form .middle{
      border-right: var(--inner-thickness) solid var(--border-color);
      border-bottom: var(--inner-thickness) solid var(--border-color);
  }
  .form .left{
          border-right: var(--inner-thickness) solid var(--border-color);
  }
  .form .right{
      border-right:none;
  }
  .form .top{
      border-bottom: var(--inner-thickness) solid var(--border-color);
  }
  .form .bottom{
      border-bottom:none;
  }
  
  
  