:root{
  --light:;
  --dark:;
}
.container{
  position:fixed;top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.splash{
  display:flex;
  justify-content:center;
  align-items:center;

}
.splash img{
  max-height:32vh;
  max-width:24vw;
}
.splash p{
  font-size:4vh;
  font-style:italic;
  font-family:'Gill Sans', sans-serif;
  color:white;text-align:center;
}
body{
  background-color:var(--light);
}
