
:root{
  --loading-text-light: black;
  --loading-text-dark: white;
  --background-color-light: white;
  --background-color-dark: rgba(41, 47, 76, 1);
  --shadow-light: rgba(0, 0, 0, 0.25);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --letter-timing-multiplier: 16;
  --animation-duration: 4s;
  --animation-perspective: 300px;
}
body{
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 100vh;
  margin:0;
}
.container{
  display:flex;
  flex-direction: column;
  justify-conent:center;
  align-items: center;
  height: 50%;
}
@keyframes growShrink {
  0% {
    transform: translate3d(0, 0, 0) scale(1);					
  }
  14% {
    transform: translate3d(-2px, -2px, 16px) scale(1.16);	
  }
  34% {
    transform: translate3d(0.5px, 0.5px, -4px) scale(0.96);
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes growShrinkShadow {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 100%;					
  }
  14% {
    transform: translate3d(3px, 3px, 12px) scale(0.98);
    opacity: 40%;
  }
  
  36% {
    transform: translate3d(-1.5px, -1.5px, 3px) scale(1.04);
    opacity: 100%;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 100%;
  }
}
.word div{
  
  perspective: var(--animation-perspective);
}
.shadow{
  position:absolute;
  transform: translate(3px, 3px);
}
.shadow div{
  perspective: var(--animation-perspective);
}
.word .item{
  color: var(--loading-text-dark);
  transform-origin: center;
  animation: growShrink var(--animation-duration) infinite;	
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.6, 1.0);
}
.shadow .item{
  color: black;
  filter: blur(3px);
  transform-origin: center;
  animation: growShrinkShadow var(--animation-duration) infinite;	
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.6, 1.0);
}
.item{
  display:inline-block;
  font-size:36px;
  font-family: 'Arial', sans-serif;
  font-weight:bold;
  font-style: italic;
}
.item:nth-child(1) {
  animation-delay: 0s;
}
.item:nth-child(2) {
  animation-delay: calc(var(--animation-duration) / var(--letter-timing-multiplier));
}
.item:nth-child(3) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 2);
}
.item:nth-child(4) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 3 );
}
.item:nth-child(5) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 4);
}
.item:nth-child(6) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 5);
}
.item:nth-child(7) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 6);
}
.item:nth-child(8) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 7);
}
.item:nth-child(9) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 8);
}
.item:nth-child(10) {
  animation-delay: calc((var(--animation-duration) / var(--letter-timing-multiplier)) * 9);
}
